<div class="container-fluid my-3">
  <div class="row justify-content-center">
    <div class="col-5">
      <h1 class="h4">Pick a Library Below</h1>
      <p>Both options provide the same experience. Explore the repo <a href="https://github.com/jjsiman/state-management-demo">here.</a>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
      <a routerLink="/ngrx" class="btn btn-dark btn-lg">NGRX Demo</a>
    </div>
    <div class="col-2">
      <a routerLink="/ngxs" class="btn btn-dark btn-lg">NGXS Demo</a>
    </div>
  </div>
</div>